TELEGRAM_BOT_TOKEN=
ALLOWED_TELEGRAM_USER_ID=
ALLOWED_TELEGRAM_CHAT_ID=
CHECK_INTERVAL_SECONDS=60
HUDREAM_INSTLTN_NO=156
HUDREAM_SCLPST=1
HUDREAM_PROFILE_DIR=/home/ubuntu/hudream-watch/profile
HUDREAM_DB_PATH=/home/ubuntu/hudream-watch/data/watches.db

